---
layout: default
---

<section id="features" class="measure-78-ns mha-ns mb90 mb150-ns pt200 tc">
  
  <header class="mb90 mb150-ns pt60 pt85-ns ph36 pb90 pb85-ns tc">
    <h1 class="mt0 mb30 mb50-ns blue playfair f32 f58-ns lh-120-ns fw6">{{ site.data.pricing.header.title }}</h1>
  </header>
  
  {% include features.html data=site.data.pricing.features %}
  
</section>



<section id="calculator" class="">
  
  <header class="mb120 pv45 pv60-ns ph36 tc">
    <h1 class="mv0 blue f20 f30-ns lh-160 lh-120-ns fw5">{{ site.data.pricing.calculator.header.title }}</h1>
  </header>
  
  <fieldset class="mh0 mb60 pv0 ph36 blue bn">
    <label class="db mb20">{{ site.data.pricing.calculator.input.label }}</label>
    <input class="input-reset dib w-100 mb20 pv10 ph15 white bg-blue graphik f16 lh-100 fw5 ba b--blue br2"
           type="number" value="" placeholder="350.000€" required>
    <a class="link inherit db mb30 pa15 f14 lh-160 ba b--blue br2" href="/form.html">{{ site.data.pricing.calculator.input.call-to-action }}</a>
    <small class="db f16 lh-160">{{ site.data.pricing.calculator.input.small }}</small>
  </fieldset>
  
</section>


{% include aside.html %}
