/* Home Page CSS */

/* Swiper Overrides */
.swiper-button-next,
.swiper-button-prev {
  top: 178px;
  width: 33px;
  background-size: contain;
  transition: all 0.2s ease-in-out;
  @media screen and (min-width: 30em) {
    width: 51px;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 33'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Ccircle cx='16.5' cy='16.5' r='16.5' fill='%231F8CEB'/%3E %3Cpath d='M8.25 8.25h16.5v16.5H8.25z'/%3E %3Cpath fill='%23FFF' fill-rule='nonzero' d='M22 15.813h-8.367l3.843-3.844L16.5 11 11 16.5l5.5 5.5.97-.97-3.837-3.843H22z'/%3E %3C/g%3E %3C/svg%3E ");
  left: 54px;
  @media screen and (min-width: 30em) {
    left: 40px;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 33'%3E %3Cg fill='none' fill-rule='evenodd' transform='matrix(-1 0 0 1 33 0)'%3E %3Ccircle cx='16.5' cy='16.5' r='16.5' fill='%231F8CEB'/%3E %3Cpath d='M8.25 8.25h16.5v16.5H8.25z'/%3E %3Cpath fill='%23FFF' fill-rule='nonzero' d='M22 15.813h-8.367l3.843-3.844L16.5 11 11 16.5l5.5 5.5.97-.97-3.837-3.843H22z'/%3E %3C/g%3E %3C/svg%3E ");
  right: 54px;
  @media screen and (min-width: 30em) {
    right: 40px;
  }
}


/* General Home */
#main-header {
  transition: all 0.25s ease-in-out;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(76, 76, 75, 0.1);
}

@supports not (display: flex) {
  @media screen and (max-width: 30em) {
    #main-nav {
      padding-top: 0;
    }

    #main-nav ul {
      top: 55%;
      transform: translateY(-50%);
      position: relative;
    }
  }
}

#hero {
  background-image: url('../assets/images/hero/00@2x.jpg');
  background-image: -webkit-image-set(
    url('../assets/images/hero/00.jpg') 1x,
    url('../assets/images/hero/00@2x.jpg') 2x,
    url('../assets/images/hero/00@3x.jpg') 3x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 110vh;
}

#hero::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vw;
  width: 150vw;
  background-color: #fff;
  transform: rotate(7.6deg);
  transform-origin: bottom right;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
}

#features > header {
  background-image: url("../assets/images/features/00.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 30em) {
    background-size: contain;
  }
}

#how-it-works {
  padding-top: 350px;
  overflow: hidden;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  @media screen and (min-width: 30em) {
    padding-top: 550px;
  }
}

#how-it-works > header {
  background-image: url("../assets/images/how-it-works/00.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#how-it-works::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 350px;
  background-image: url("../assets/images/how-it-works/00.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 30em) {
    height: 550px;
  }
}

#how-it-works::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 350px;
  left: 0;
  height: 100vw;
  width: 150vw;
  background-color: #fff;
  transform: rotate(-7.6deg);
  transform-origin: bottom left;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
  @media screen and (min-width: 30em) {
    top: 550px;
  }
}

#how-it-works .swiper-container::before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right, #ffffff 0%, rgba(255, 255, 255, 0) 12.5%, rgba(255, 255, 255, 0) 87.5%, #ffffff 100%);
}

#how-it-works .swiper-container::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  position: absolute;
  top: 178px;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (min-width: 30em) {
  #how-it-works .swiper-wrapper {
    padding-left: 75px;
  }

  #how-it-works .swiper-slide {
    margin-left: -296px;
  }
  #how-it-works .swiper-slide:first-child {
    margin-left: 0px;
  }
  #how-it-works .swiper-slide:last-child {
    padding-right: 200px;
  }

  #how-it-works .swiper-slide:nth-of-type(even) {
    margin-top: 226px;
  }

  #how-it-works .swiper-slide h2 {
    width: 100px;
    top: 110px;
  }
}

@media screen and (min-width: 2500px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

#how-it-works .swiper-slide h2::before {
  content: '';
  width: 2px;
  height: 21px;
  display: block;
  position: absolute;
  bottom: -24px;
  left: 50%;
  border-radius: 9999rem;
  background-color: #f0f0f0;
  transform: translateX(-50%);
}

#how-it-works .swiper-slide h2::after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #d8d8d8;
  border: 12px solid #fff;
  transition: background-color 0.4s ease-in-out;
}

#how-it-works .swiper-slide-active h2::after {
  background-color: #1f8ceb;
}

@media screen and (min-width: 30em) {
  #how-it-works .swiper-slide:nth-of-type(even) svg {
    margin-top: 28px;
  }

  #how-it-works .swiper-slide:nth-of-type(even) h2 {
    top: -8px;
  }
  /*#how-it-works .swiper-slide:nth-of-type(odd) h2::before { bottom: -56px; }*/
  #how-it-works .swiper-slide:nth-of-type(even) h2::before {
    top: -24px;
  }

  #how-it-works .swiper-slide:nth-of-type(odd) h2::after {
    bottom: -56px;
  }

  #how-it-works .swiper-slide:nth-of-type(even) h2::after {
    top: -56px;
  }
}

#aside {
  background-image: url("../assets/images/aside/00.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% + 80px);
  background-position-y: center;
  background-size: contain;
  @media screen and (min-width: 30em) {
    background-position-x: right;
  }
}
