/* Fonts */
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Medium-Web.eot');
  src: url('../assets/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Graphik-Medium-Web.woff2') format('woff2'),
       url('../assets/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Regular-Web.eot');
  src: url('../assets/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Graphik-Regular-Web.woff2') format('woff2'),
       url('../assets/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/playfair-display-v11-latin-regular.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-regular.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-regular.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-regular.svg#PlayfairDisplay') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/playfair-display-v11-latin-italic.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-italic.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-italic.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-italic.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-italic.svg#PlayfairDisplay') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/playfair-display-v11-latin-700.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-700.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-700.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-700.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-700.svg#PlayfairDisplay') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/playfair-display-v11-latin-700italic.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-700italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-700italic.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-700italic.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-700italic.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-700italic.svg#PlayfairDisplay') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/playfair-display-v11-latin-900.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-900.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-900.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-900.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-900.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-900.svg#PlayfairDisplay') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/playfair-display-v11-latin-900italic.eot');
  src: url('../assets/fonts/playfair-display-v11-latin-900italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/playfair-display-v11-latin-900italic.woff2') format('woff2'),
       url('../assets/fonts/playfair-display-v11-latin-900italic.woff') format('woff'),
       url('../assets/fonts/playfair-display-v11-latin-900italic.ttf') format('truetype'),
       url('../assets/fonts/playfair-display-v11-latin-900italic.svg#PlayfairDisplay') format('svg');
}

/* Swiper Overrides */
.swiper-button-next,
.swiper-button-prev {
  top: 178px;
  width: 33px;
  background-size: contain;
  transition: all .2s ease-in-out;
} @media screen and (min-width: 30em) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 51px;
  }
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 33'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Ccircle cx='16.5' cy='16.5' r='16.5' fill='%231F8CEB'/%3E %3Cpath d='M8.25 8.25h16.5v16.5H8.25z'/%3E %3Cpath fill='%23FFF' fill-rule='nonzero' d='M22 15.813h-8.367l3.843-3.844L16.5 11 11 16.5l5.5 5.5.97-.97-3.837-3.843H22z'/%3E %3C/g%3E %3C/svg%3E ");
  left: 54px;
} @media screen and (min-width: 30em) {
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 40px;
  }
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 33'%3E %3Cg fill='none' fill-rule='evenodd' transform='matrix(-1 0 0 1 33 0)'%3E %3Ccircle cx='16.5' cy='16.5' r='16.5' fill='%231F8CEB'/%3E %3Cpath d='M8.25 8.25h16.5v16.5H8.25z'/%3E %3Cpath fill='%23FFF' fill-rule='nonzero' d='M22 15.813h-8.367l3.843-3.844L16.5 11 11 16.5l5.5 5.5.97-.97-3.837-3.843H22z'/%3E %3C/g%3E %3C/svg%3E ");
  right: 54px;
} @media screen and (min-width: 30em) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 40px;
  }
}


/* Home */
@supports not (display: flex) {
  #main-nav { padding-top: 0; }
  #main-nav ul { top: 55%; transform: translateY(-50%); position: relative; }
}

#hero {
  background-image: url(../assets/images/hero/00.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*#hero::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 350px; right: 0;
  height: 100vw;
  width: 150vw;
  background-color: #fff;
  transform: rotate(7.6deg);
  transform-origin: bottom right;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
}*/

#features header {
  background-image: url(../assets/images/features/00.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} @media screen and (min-width: 30em) {
  #features header {
    background-size: contain;
  }
}

#how-it-works {
  padding-top: 350px;
  overflow: hidden;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}
#how-it-works header {
  background-image: url(../assets/images/how-it-works/00.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#how-it-works::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 350px;
  background-image: url(../assets/images/how-it-works/00.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#how-it-works::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 350px; left: 0;
  height: 100vw;
  width: 150vw;
  background-color: #fff;
  transform: rotate(-7.6deg);
  transform-origin: bottom left;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
}
#how-it-works .swiper-container::before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 12.5%, rgba(255, 255, 255, 0) 87.5%, #ffffff 100%);
}
#how-it-works .swiper-container::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  position: absolute;
  top: 178px; right: 0; left: 0;
  transform: translateY(-50%);
}
@media screen and (min-width: 30em) {
  #how-it-works .swiper-slide h2 {
    width: 100px;
    top: 110px;
  }
}
#how-it-works .swiper-slide h2::before {
  content: '';
  width: 2px;
  height: 21px;
  display: block;
  position: absolute;
  bottom: -24px; left: 50%;
  border-radius: 9999rem;
  background-color: #f0f0f0;
  transform: translateX(-50%);
}
#how-it-works .swiper-slide h2::after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  bottom: -60px; left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #1f8ceb;
  border: 12px solid #fff;
} @media screen and (min-width: 30em) {
  #how-it-works .swiper-slide h2::after {
    bottom: -56px;
  }
}

#aside {
  background-image: url('../assets/images/aside/00.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% + 80px);
  background-position-y: center;
  background-size: contain;
}


/* Form */
#main-form header {
  background-image: url('../assets/images/form/00.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} @media screen and (min-width: 30em) {
  #main-form header {
    background-size: contain;
  }
}
::-webkit-input-placeholder { color: #b2bcc3; opacity: 1; }
::-moz-placeholder { color: #b2bcc3; opacity: 1; }
:-ms-input-placeholder { color: #b2bcc3; opacity: 1; }
:-moz-placeholder { color: #b2bcc3; opacity: 1; }
input:focus { outline: none; border-color: #1f8beb; }
input[type="radio"]:checked + label { border-color: #1f8beb; }
/*input[type="date"]::before { content: attr(placeholder); width: 100%; color: #b2bcc3; }*/
/*input[type="date"]:focus:before,
input[type="date"]:not([value=""]):not(:focus):valid:before { content: none; }*/
.placeholder-m2 { position: relative; }
.placeholder-m2::after {
  content: 'm2'; position: absolute; top: 50%; right: 16px; transform: translateY(-50%);
  font-size: 16px; line-height: 1; color: #b2bcc3;
} @media screen and (min-width: 30em) {
  .placeholder-m2::after { right: 36px; }
}
