---
layout: default
scripts:
  - '/assets/vendor/smooth-scroll.polyfills.min.js'
  - '/assets/scripts/faq.js'
---

<article id="faq" class="measure-70-ns mha-ns pt200 pb150 pb180-ns">

  {%
    include section-header.html
    header-paddings="pt55 pt120-ns ph36 pb85 pb120-ns"
    h1=site.data.faq.header.title
  %}


  <section class="cf ph36">

    <nav class="dn db-ns fl-ns w-third-ns pr20-ns">
      <dl class="mv0">
      {% for item in site.data.faq.questions %}
        <dt class="mt0 mb20 f16 lh-200 o-50">
          <a class="link inherit" href="#question-{{ forloop.index }}" data-scroll>{{ item.question }}</a>
        </dt>
      {% endfor %}
      </dl>
    </nav>

    <article class="fl-ns w-two-thirds-ns pl20-ns">
      <dl class="mv0">
      {% for item in site.data.faq.questions %}
        <dt id="question-{{ forloop.index }}" class="mt0 mb20 blue blue-ns f16 lh-200 fw5 fw5-ns o-100-ns">{{ item.question }}</dt>
        {% for paragraph in item.answer %}
        <dd class="mt0 mb30 mb30-ns ml0 lh-200 o-80">{{ paragraph }}</dd>
        {% endfor %}
      {% endfor %}
      </dl>
    </article>
  </section>

</article>
