---
layout: default
scripts:
  - '/assets/vendor/smooth-scroll.polyfills.min.js'
  - '/assets/scripts/faq.js'
---

<article id="faq" class="measure-70-ns mha-ns pt200 pb150 pb180-ns">

  <header class="mb90 mb150-ns pt25 pt85-ns ph36 pb15 pb85-ns tc">
    <h1 class="mt0 mb30 mb50-ns blue muli f30 f56-ns fw6">{{ site.data.faq.header.title }}</h1>
    <p class="measure-32 mv0 mt45-ns mha f16 f20-ns lh-160">{{ site.data.faq.header.description }}</p>
  </header>


  <section class="cf ph36">

    <nav class="dn db-ns fl-ns w-third-ns pr20-ns">
      <dl class="mv0">
      {% for item in site.data.faq.questions %}
        <dt class="mt0 mb20 f16 lh-200 o-50">
          <a class="link inherit" href="#question-{{ forloop.index }}" data-scroll>{{ item.question }}</a>
        </dt>
      {% endfor %}
      </dl>
    </nav>

    <article class="fl-ns w-two-thirds-ns pl20-ns">
      <dl class="mv0">
      {% for item in site.data.faq.questions %}
        <dt id="question-{{ forloop.index }}" class="mt0 mb20 blue blue-ns f16 lh-200 fw5 fw5-ns o-100-ns">{{ item.question }}</dt>
        {% for paragraph in item.answer %}
        <dd class="mt0 mb30 mb30-ns ml0 lh-200 o-80">{{ paragraph }}</dd>
        {% endfor %}
      {% endfor %}
      </dl>
    </article>
  </section>

</article>
