---
layout: default

copies:
  header:
    title: 'Preguntas frecuentes'

  questions:
    - question: '¿Qué es Prontopiso?'
      answer:
        - 'Prontopiso es una agencia inmobiliaria online creada por expertos del sector, que garantiza la venta de tu vivienda en 90 días. Reducimos el riesgo asociado con la venta de tu vivienda, garantizándote un precio mínimo de venta por el 92-95% de su valor de mercado.'
        
    - question: '¿Cuál es nuestra misión?'
      answer:
        - 'Nuestra misión es facilitar y acompañar a nuestros clientes en el cambio de vivienda reduciendo su riesgo inmobiliario y generando confianza y transparencia en la operación.'
        
    - question: '¿En qué se diferencia de una agencia inmobiliaria tradicional?'
      answer:
        - 'Prontopiso es la única agencia inmobiliaria que garantiza la venta de tu vivienda asegurándote un precio mínimo de venta. Si llegado el día 90 no la hemos vendido, te adelantamos el precio garantizado para que puedas hacer frente a la compra de tu siguiente propiedad. Te garantizamos un precio justo, que se encuentra entre el 92-95% de su valor de mercado, así que no te preocupes y céntratre en la búsqueda de tu nueva vivienda mientras nosotros nos ocupamos del resto.'
        
    - question: '¿Es gratis recibir una valoración?'
      answer:
        - '¡Sí! Rellena nuestro formulario online para saber cuanto vale tu propiedad y contacta con nuestros agentes para recibir un precio garantizado.'
        
    - question: '¿Qué tipo de propiedades acepta?'
      answer:
        - 'Gestionamos propiedades situadas en las principales ciudades de España, que se encuentran en buen estado y cuyo valor de mercado es inferior a un millón de euros.'
        
    - question: '¿Qué métodos utilizan para realizar la valoración de la vivienda?'
      answer:
        - 'Prontopiso tiene acceso a datos del mercado inmobiliario Español en tiempo real: situación estructural de viviendas, listado de transacciones historicas, oferta y demanda actual de propiedades y zonas, etc. Hemos desarrollado un algoritmo capaz de procesar toda esta información que, tras ser evaluada por nuestros agentes expertos, proporciona una valoración de mercado fiable.'
        
    - question: '¿Puede que la valoración cambie tras visitar mi propiedad?'
      answer:
        - 'Intentamos ser lo mas precisos posible con nuestra valoración inicial. Sin embargo, estamos seguros de que habrán aspectos que permitan ajustar al detalle la valoración después de una visita.'
        
    - question: '¿Qué es el precio mínimo garantizado?'
      answer:
        - 'Acordamos con el cliente un precio mínimo garantizado que se situa entre el 92-95% del valor de mercado de la propiedad. Dependiendo del riesgo que quieras asumir, así como las comisiones que estés dispuesto a pagar, puedes decidir qué precio se ajusta más a tus necesidades. El precio mínimo garantizado es la cantidad mínima que recibirás por tu propiedad, tanto en caso de anticipo como en el momento de la venta. Si vendemos tu propiedad por un importe inferior al garantizado, asumiremos la pérdida y te transferiremos la cantidad comprometida desde un inicio.'
        
    - question: '¿Puedo negociar la oferta?'
      answer:
        - 'Consideramos que nuestra oferta ya es definitiva ya que realizamos una valoración de mercado fiable y permitimos que escojas el precio mínimo garantizado que más se ajuste a tus necesidades.'
        
    - question: '¿Puedo trabajar con otras agencias inmobiliarias al mismo tiempo?'
      answer:
        - 'Dado que nos comprometemos con tu propiedad proporcionandote un precio garantizado desde la firma del contrato, del que puedes disponer en cualquier momento, y dedicamos muchos esfuerzos para venderla al mejor precio posible, nos reservamos el derecho exclusivo de venta.'
        
    - question: '¿Qué métodos utiliza Prontopiso para promocionar las propiedades?'
      answer:
        - 'Realizamos fotografías profesionales de la propiedad para poder publicar anuncios en los principales portales inmobiliarios (Idealista, Fotocasa, Habitaclia, etc.). Gestionamos los anuncios para situar tu propiedad en posiciones premium y así asegurarnos que llega a un mayor número de potenciales compradores. Adicionalmente, nuestros agentes expertos se encargan de la promoción offline de la vivienda utilizando diversidad de diferentes estrategias.'
        
    - question: '¿Quién se encarga de realizar las visitas y cuando se llevan a cabo?'
      answer:
        - 'Prontopiso se encarga de concertar y realizar las visitas con los potenciales compradores. Adaptamos nuestra agenda a la de nuestro cliente para no suponer un problema y realizar las visitas en el momento en el que a ellos les venga bien.'
        
    - question: '¿Cómo conseguis vender más rápido que el resto de agencias?'
      answer:
        - 'No somos una agencia de venta rápida que vende propiedades a precios de derribo, somos conscientes de que hay propiedades que tardaran meses en venderse, pero aseguramos que puedas realizar tu mudanza en 90 días pase lo que pase.'
        
    - question: '¿Qué pasa si mi propiedad no se vende en 90 días?'
      answer:
        - 'Si llegado el día 90, no hemos vendido tu propiedad, te adelantamos el precio garantizado sin coste alguno para que puedas hacer frente a la compra de tu siguiente vivienda sin complicaciones. Continuaremos gestionando la venta de tu vivienda hasta conseguir el mejor precio posible y, en caso de que la propiedad se venda por un valor superior al garantizado, te transferiremos la diferencia de precio.'
        
    - question: '¿Qué pasa si mi propiedad se vende por un valor inferior al garantizado?'
      answer:
        - 'En Prontopiso nos comprometemos al pago del precio garantizado desde la firma del contrato y por tanto, en caso de que la propiedad se venda por un valor inferior, nosotros cubriremos la diferencia transfiriéndote la totalidad del precio garantizado.'
        
    - question: '¿Qué comisión cobra Prontopiso?'
      answer:
        - 'Prontopiso tiene una estructura de comisiones transparente y que se ajusta a las necesidades del mercado. Tenemos una comisión base de entre un 2 y un 3,5% y una comisión incentivada que varía según el precio de venta y que pretende vender al mejor precio posible. '
        
    - question: '¿Cómo me aseguro de que vendereis al mejor precio?'
      answer:
        - 'Estamos incentivados a vender tu propiedad al mayor precio posible, ya que no cobraremos la totalidad de nuestras comisiones si no vendemos por un valor superior al precio mínimo garantizado.'
        
    - question: '¿Qué pasa si recibo una oferta de un comprador que no viene de Prontopiso?'
      answer:
        - 'Ningún problema, pon al comprador en contacto con nosotros y nos ocuparemos de la negociación y de hacer efectiva la venta.'
        
    - question: '¿Qué pasa cuando un comprador hace una oferta por mi propiedad?'
      answer:
        - 'Cuando recibimos una oferta sobre tu vivienda, la compartimos contigo para poder tomar una decisión de manera conjunta. Prontopiso se reserva el derecho de aceptar ofertas que estén por encima del precio mínimo garantizado a partir del día 40 de manera unilateral.'
        
    - question: '¿Cómo funciona el proceso de negociación?'
      answer:
        - 'Desde la firma del contrato hasta la venta de la propiedad, ProntoPiso se hace cargo del proceso de venta incluyendo la promoción del inmueble en portales inmobiliarios así como la negociación con posibles compradores y el traspaso de la propiedad en el momento de la compraventa.'
        
    - question: '¿Cuando debo mudarme?'
      answer:
        - 'Con ProntoPiso puedes permanecer en tu propiedad hasta que consigamos venderla al mejor precio!'
        
    - question: '¿Qué pasa cuando encuentro mi futura propiedad?'
      answer:
        - 'En el momento en el que el cliente encuentra su futura vivienda y necesita realizar el pago de la misma, tiene derecho a pedir el anticipo del valor garantizado a Prontopiso, que se lo avanzará sin ningún problema. En caso de que el anticipo se realice antes de la finalización de los 90 días, el cliente deberá pagar una pequeña comisión para poder disponer de esta cantidad por adelantado.'

---

<article id="faq" class="measure-70-ns mha-ns pt200 pb150 pb180-ns">
  
  <header class="mb90 mb150-ns pt25 pt85-ns ph36 pb15 pb85-ns tc">
    <h1 class="mt0 mb30 mb50-ns blue playfair f32 f58-ns fw6">{{ page.copies.header.title }}</h1>
    <p class="measure-32 mv0 mt45-ns mha f16 f20-ns lh-160">{{ page.copies.header.description }}</p>
  </header>
  

  <section class="cf ph36">
  
    <nav class="dn db-ns fl-ns w-third-ns pr20-ns">
      <dl class="mv0">
      {% for item in page.copies.questions %}
        <dt class="mt0 mb20 f16 lh-200 o-50">
          <a class="link inherit" href="#question-{{ forloop.index }}" data-scroll>{{ item.question }}</a>
        </dt>
      {% endfor %}
      </dl>
    </nav>
    
    <article class="fl-ns w-two-thirds-ns pl20-ns">
      <dl class="mv0">
      {% for item in page.copies.questions %}
        <dt id="question-{{ forloop.index }}" class="mt0 mb20 blue blue-ns f16 lh-200 fw5 fw5-ns o-100-ns">{{ item.question }}</dt>
        {% for paragraph in item.answer %}
        <dd class="mt0 mb30 mb30-ns ml0 lh-200 o-80">{{ paragraph }}</dd>
        {% endfor %}
      {% endfor %}
      </dl>
    </article>
  </section>

</article>
