---
layout: default
---

<form id="main-form" class="measure-65-ns mha-ns pt120 pt200-ns ph36 pb150 pb160-ns f18-ns" name="main-form" action="index.html" netlify>

  <header class="nh36 mh40-ns mb90 pt45 pt100-ns pb100 pb90-ns">
    <h1 class="mv0 mh36 mh0-ns playfair f25 f50-ns lh-120">Completa este formulario y recibe la tasación previa de tu vivienda en 24h.</h1>
  </header>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">1. ¿Cuál es tu código postal?</legend>

    <div class="fl-ns w-100 w-third-ns mb20 mb40-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="number" name="address-zipCode" id="address-zipCode" value="" required>
    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">2. ¿Podrías especificar el tipo de vivienda?</legend>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="typeBuilding" id="typeBuilding-1" value="1" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="typeBuilding-1">Piso</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="typeBuilding" id="typeBuilding-2" value="2" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="typeBuilding-2">Casa o chalet</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="typeBuilding" id="typeBuilding-3" value="3" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="typeBuilding-3">Estudio</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="typeBuilding" id="typeBuilding-4" value="4" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="typeBuilding-4">Ático</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="typeBuilding" id="typeBuilding-5" value="5" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="typeBuilding-5">Dúplex</label>
    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">3. ¿Cuál es tu dirección?</legend>

    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Calle y número</span>
    </div>

    <div class="fl-ns w-100 w-two-thirds-ns mb20 mb60-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="address-street" id="address-street" value="" placeholder="Calle y número" required>
    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Planta</span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb60-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="address-floor" id="address-floor" value="" placeholder="Selecciona una planta">
    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Bloque</span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb60-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="address-block" id="address-block" value="" placeholder="Opcional">
    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Escalera</span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb60-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="address-stair" id="address-stair" value="" placeholder="Opcional">
    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Puerta</span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb60-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="address-door" id="address-door" value="" placeholder="Opcional">
    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">4. Características principales</legend>

    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="hide-child relative dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">
        Superfície
        <span class="dib ml10 v-mid">
          {% include_relative assets/images/info-tooltip.svg %}
          <span class="bubble child absolute pa15 white bg-blue f12 fw5 br2">Indica la superfície construida en m2</span>
        </span>
        <span class="bubble-tail child dib"></span>
      </span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb60-ns ph20-ns placeholder-m2">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="features-area" id="features-area" value="" placeholder="" required>
    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="hide-child relative dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">
        Número de habitaciones
        <span class="dib ml10 v-mid">
          {% include_relative assets/images/info-tooltip.svg %}
          <span class="bubble child absolute pa15 white bg-blue f12 fw5 br2">Indica la superfície construida en m2</span>
        </span>
        <span class="bubble-tail child dib"></span>
      </span>
    </div>

    <div class="cf fl-ns w-100 w-two-thirds-ns mb20">

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-rooms" id="features-rooms-1" value="1" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-rooms-1">1</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pl10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-rooms" id="features-rooms-2" value="2" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-rooms-2">2</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-rooms" id="features-rooms-3" value="3" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-rooms-3">3</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pl10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-rooms" id="features-rooms-4" value="4" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-rooms-4">4</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-rooms" id="features-rooms-5" value="5" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-rooms-5">5 o más</label>
      </div>

    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">¿Dispone de parking?</span>
    </div>

    <div class="cf fl-ns w-100 w-two-thirds-ns mb20">

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-parking" id="features-parking-true" value="true" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-parking-true">Sí</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pl10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-parking" id="features-parking-false" value="false" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-parking-false">No</label>
      </div>

      <div class="fl w-100 w-50-ns mb20 mb60-ns ph20-ns">
        <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
               type="number" name="features-parkingPlaces" id="features-parkingPlaces" value="" placeholder="Número de plazas">
      </div>

    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">¿Dispone de terraza o balcón?</span>
    </div>

    <div class="cf fl-ns w-100 w-two-thirds-ns mb20">

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-terrace" id="features-terrace-true" value="true" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-terrace-true">Sí</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pl10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-terrace" id="features-terrace-false" value="false" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-terrace-false">No</label>
      </div>

      <div class="fl w-100 w-50-ns mb20 mb60-ns ph20-ns placeholder-m2">
        <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
               type="number" name="features-terraceArea" id="features-terraceArea" value="" placeholder="">
      </div>

    </div>


    <div class="cb-ns fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">¿Dispone de ascensor?</span>
    </div>

    <div class="cf fl-ns w-100 w-two-thirds-ns mb20">

      <div class="fl w-50 w-25-ns mb20 mb40-ns pr10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-elevator" id="features-elevator-true" value="true" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-elevator-true">Sí</label>
      </div>

      <div class="fl w-50 w-25-ns mb20 mb40-ns pl10 ph20-ns">
        <input class="absolute o-0" type="radio" name="features-elevator" id="features-elevator-false" value="false" required>
        <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="features-elevator-false">No</label>
      </div>

    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">5. ¿Cuando compraste la propiedad? </legend>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <span class="dib w-100 pv0 pv15-ns graphik f16 lh-100 tl bn b--transparent br2">Fecha de compra</span>
    </div>

    <div class="fl-ns w-100 w-third-ns mb20 mb40-ns ph20-ns">
      <input class="input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2"
             type="text" name="buyDate" id="buyDate" value="" placeholder="Selecciona una fecha" required
             onfocus="(this.type='date')" oonfocus="(this.placeholder='')" oonblur="(this.type='text')">
    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">6. ¿En qué estado se encuentra la propiedad?</legend>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="actualStatus" id="actualStatus-1" value="1" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="actualStatus-1">Buen estado</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="actualStatus" id="actualStatus-2" value="2" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="actualStatus-2">Reforma ligera</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="actualStatus" id="actualStatus-3" value="3" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="actualStatus-3">Reforma integral</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="actualStatus" id="actualStatus-4" value="4" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="actualStatus-4">Obra nueva</label>
    </div>

  </fieldset>


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <legend class="mh20-ns mb20 mb60-ns fw5">7. ¿Cuando te gustaría vender tu propiedad?</legend>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="sellTime" id="sellTime-1" value="Piso" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="sellTime-1">Lo antes posible</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="sellTime" id="sellTime-2" value="Casa o chalet" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="sellTime-2">En 3 meses</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="sellTime" id="sellTime-3" value="Estudio" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="sellTime-3">De 3 a 6 meses</label>
    </div>

    <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
      <input class="absolute o-0" type="radio" name="sellTime" id="sellTime-4" value="Ático" required>
      <label class="input-reset dib w-100 pa15 graphik f16 lh-100 tc ba b--black-125 br2" for="sellTime-4">Sin prisa</label>
    </div>

  </fieldset>


  <hr class="mh40-ns mb40 mb60-ns bn bb b--black-125">


  <fieldset class="cf ma0 mb45 mb50-ns pa0 ph20-ns bn">

    <div class="cf fr-ns w-100 w-third-ns mb20">

      <div class="fl w-50 mb20 mb40-ns pr10 ph20-ns">
        <input class="input-reset dib w-100 pa15 ph30-ns black bg-white graphik f16 lh-100 tc ba b--black-125 br2"
               type="submit" name="cancel" id="cancel" value="Cancelar" placeholder="Cancelar">
      </div>

      <div class="fl w-50 mb20 mb40-ns pl10 ph20-ns">
        <input class="input-reset dib w-100 pa15 ph30-ns white bg-blue graphik f16 lh-100 fw5 tc ba b--blue br2"
               type="submit" name="submit" id="submit" value="Continuar" placeholder="Continuar">
      </div>

    </div>

  </fieldset>


</form>
