---
layout: default
scripts:
  - '/assets/vendor/swiper.min.js'
  - '/assets/scripts/home.js'
---

<section id="hero" class="relative pt120 pt200-ns ph36 pb140 pb240-ns tc overflow-hidden js-scroll">

  <div class="measure-40-ns mha-ns">

    <header class="mb60">
      <h1 class="mt0 mb30 playfair f32 f58-ns lh-120">{{ site.data.home.hero.header.title }}</h1>
      <p class="mv0 f20-ns">{{ site.data.home.hero.header.description }}</p>
    </header>

    <form class="cf df pa10 bg-white ba br2" action="/form"
          style="box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); border: solid 1px #f0f0f0;">
      <input class="fl input-reset flex-grow-0 w-100 pa15 graphik f16 bn" minlength="5" maxlength="5" pattern="[0-9]{5}" autofocus
             type="text" name="address-zipCode" id="address-zipCode" value="" placeholder="Código postal" required>
      <button class="fl input-reset flex-shrink-0 w-auto pv15 ph20 white bg-blue graphik f16 f18-ns fw5 bn br2"
              type="submit" id="submit">
         <span class="db dn-ns">Empezar</span>
         <span class="dn db-ns">Obtén una valoración inicial</span>
      </button>
    </form>

  </div>

</section>



<section id="features" class="measure-70-ns mha-ns pb20 pb70-ns tc js-scroll">

  <header class="mb100 mb120-ns pt70 pt160-ns ph36 pb36 pb60-ns blue">
    <h1 class="mt0 mb30 f20 f32-ns fw5">{{ site.data.home.features.header.title }}</h1>
    <p class="mv0 mt45-ns f18 f30-ns lh-140 lh-160-ns">{{ site.data.home.features.header.description }}</p>
  </header>

  {% include features.html data=site.data.home.features.items %}

</section>



<section id="how-it-works" class="relative tc">

  <header class="mb90 pt120 pt200-ns ph36 pb70 pb90-ns blue">
    <h1 class="mv0 f20 f32-ns fw5">{{ site.data.home.how-it-works.header.title }}</h1>
  </header>

  <section class="z-0 swiper-container mb120 mb200-ns overflow-visible">
    <div class="swiper-wrapper">
    {% for item in site.data.home.how-it-works.items %}
      <div class="swiper-slide relative-ns df-ns w-auto ph36{{ item.extra-classes }}">
        {% include_relative {{ item.icon }} %}
        <h2 class="relative absolute-ns mt0 mb90 blue f16 lh-175 fw5">{{ item.name }}</h2>
        <p class="measure-24-ns mv0 ml36-ns f16 lh-200 tl-ns">{{ item.description }}</p>
      </div>
    {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </section>

</section>



{% include aside.html %}
