---
layout: default

scripts:
  - '/assets/vendor/tippy.min.js'
  - '/assets/scripts/form.js'
  - 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4sUlndgBgF-rKYF2R-6XLMptaphHHcM&libraries=places&callback=initAutocomplete'

classes:
  form: 'measure-65-ns mha-ns pt120 pt200-ns ph36 pb150 pb160-ns f18-ns'
  fieldset: 'cf ma0 mb20 mb30-ns pa0 ph20-ns bn o-30 incomplete'
  legend: 'mh20-ns mb20 mb40-ns fw5'
  group: 'input-group cf cb relative'
  small: 'cb absolute bottom-n10 dn red graphik f16 o-100'
  input:
    wrapper: 'cb-ns fl-ns w-100 w-third-ns mb15 mb30-ns ph20-ns'
    label: 'dib w-100 pv0 pv15-ns graphik f16 lh-100 ba b--transparent br2'
    input: &input 'input-reset dib w-100 pa15 graphik f16 lh-100 ba b--black-125 br2'
  input-text:
    wrapper: ''
    input: *input
  input-number:
    wrapper: ''
    input: *input
  input-radio:
    wrapper: 'fl-ns w-100 w-third-ns mb15 mb30-ns ph20-ns'
    input: 'absolute o-0'
    label: 'tc'
  buttons:
    button: 'input-reset dib w-100 pv15 graphik f16 lh-100 tc ba br2'
    cancel: 'black bg-white b--black-125'
    submit: 'white bg-blue fw5 b--blue'
  tooltips:
    wrapper: 'hide-child relative'
    bubble-wrapper: 'dib ml10 v-text-bot'
    bubble: 'bubble child absolute pa15 white bg-blue f12 lh-150 fw5 br2'
    bubble-tail: 'bubble-tail child dib'

---

<section>

  <form id="main-form" class="{{ page.classes.form }}" name="main-form" method="POST">

    <header class="nh36 mh40-ns mb90 pt45 pt100-ns pb100 pb90-ns">
      <h1 class="mv0 mh36 mh0-ns playfair f25 f50-ns lh-120">Completa este formulario y recibe la valoración inicial de tu vivienda en 24h.</h1>
    </header>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">1. ¿Cuál es tu código postal?</legend>


      <div class="fl-ns w-100 w-third-ns mb20 mb40-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" minlength="5" maxlength="5" pattern="[0-9]{5}" autofocus
               type="text" name="address-zipCode" id="address-zipCode" value="" required
               title="Introduce un código postal válido de 5 cifras">
        <div class="{{ page.classes.group }}">
          <small id="address-zipCode-error" class="{{ page.classes.small }}" style="right: -100%; left: 0; bottom: -40px;">Introduce un código postal válido de 5 cifras</small>
        </div>
      </div>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">2. ¿Podrías especificar el tipo de vivienda?</legend>

      <div class="{{ page.classes.group }}">

        <div class="{{ page.classes.input-radio.wrapper }}">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="typeBuilding" id="typeBuilding-1" value="1" required
                 title="Escoge una opción">
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="typeBuilding-1">Piso</label>
        </div>

        <div class="{{ page.classes.input-radio.wrapper }}">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="typeBuilding" id="typeBuilding-2" value="2" required
                 title="Escoge una opción">
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="typeBuilding-2">Casa o chalet</label>
        </div>

        <div class="{{ page.classes.input-radio.wrapper }}">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="typeBuilding" id="typeBuilding-3" value="3" required
                 title="Escoge una opción">
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="typeBuilding-3">Estudio</label>
        </div>

        <div class="{{ page.classes.input-radio.wrapper }}">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="typeBuilding" id="typeBuilding-4" value="4" required
                 title="Escoge una opción">
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="typeBuilding-4">Ático</label>
        </div>

        <div class="{{ page.classes.input-radio.wrapper }}">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="typeBuilding" id="typeBuilding-5" value="5" required
                 title="Escoge una opción">
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="typeBuilding-5">Dúplex</label>
        </div>

        <small id="typeBuilding-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 10px;">Escoge una opción</small>

      </div>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">3. ¿Cuál es tu dirección?</legend>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">Calle y número</span>
      </div>

      <div class="fl-ns relative w-100 w-two-thirds-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}"
               type="text" name="address-street" id="address-street" value="" placeholder="Calle y número" required
               title="Introduce la dirección de tu vivienda">
        <small id="address-street-error" class="{{ page.classes.small }}" style="position: relative;">Introduce la dirección de tu vivienda</small>
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">Planta</span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" data-placeholder="Planta"
               type="text" name="address-floor" id="address-floor" value="" placeholder="Planta" required>
        <small id="address-floor-error" class="{{ page.classes.small }}" style="position: relative;">Introduce la planta de tu vivienda</small>
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">Bloque</span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" data-placeholder="Bloque (Opcional)"
               type="text" name="address-block" id="address-block" value="" placeholder="Bloque (Opcional)">
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">Escalera</span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" data-placeholder="Escalera (Opcional)"
               type="text" name="address-stair" id="address-stair" value="" placeholder="Escalera (Opcional)">
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">Puerta</span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" data-placeholder="Puerta (Opcional)"
               type="text" name="address-door" id="address-door" value="" placeholder="Puerta (Opcional)">
      </div>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">4. Características principales</legend>

      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.tooltips.wrapper }} {{ page.classes.input.label }}">
          Superfície
          {% include tooltip.html id="features-area"
             display="dib" color="white" bg-color="bg-blue" font-weight="fw5" triangle="triangle triangle-blue" width="350px"
             text="Indica la superfície construida en m2" %}
          <span id="anchor-features-area" class="{{ page.classes.tooltips.bubble-wrapper }}">
            {% include info-tooltip.svg %}
          </span>
        </span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns placeholder-m2">
        <input class="{{ page.classes.input.input }}" min="0" step="1"
               type="number" name="features-area" id="features-area" value="" placeholder="" required>
        <small id="features-area-error" class="{{ page.classes.small }}" style="position: relative;">Introduce un número</small>
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.tooltips.wrapper }} {{ page.classes.input.label }}">
          Número de habitaciones
          {% include tooltip.html id="features-rooms"
             display="dib" color="white" bg-color="bg-blue" font-weight="fw5" triangle="triangle triangle-blue" width="350px"
             text="Total de habitaciones, excluyendo cocina, salón, comedor y baños" %}
          <span id="anchor-features-rooms" class="{{ page.classes.tooltips.bubble-wrapper }}">
            {% include info-tooltip.svg %}
          </span>
        </span>
      </div>

      <div class="cf fl-ns w-100 w-two-thirds-ns">

        <div class="fl w-50 w-25-ns mb15 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-rooms" id="features-rooms-1" value="1" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-rooms-1">1</label>
        </div>

        <div class="fl w-50 w-25-ns mb15 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-rooms" id="features-rooms-2" value="2" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-rooms-2">2</label>
        </div>

        <div class="fl w-50 w-25-ns mb15 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-rooms" id="features-rooms-3" value="3" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-rooms-3">3</label>
        </div>

        <div class="fl w-50 w-25-ns mb15 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-rooms" id="features-rooms-4" value="4" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-rooms-4">4</label>
        </div>

        <div class="fl w-50 w-25-ns mb15 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-rooms" id="features-rooms-5" value="5" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-rooms-5">5 o más</label>
        </div>

        <div class="{{ page.classes.group }}">
          <small id="features-rooms-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 20px;">Escoge una opción</small>
        </div>

      </div>

      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.tooltips.wrapper }} {{ page.classes.input.label }}">
          Baños
          {% include tooltip.html id="features-bathrooms"
             display="dib" color="white" bg-color="bg-blue" font-weight="fw5" triangle="triangle triangle-blue" width="350px"
             text="Habitación que dispone de lavabo, sanitario y bañera o espacio de ducha" %}
          <span id="anchor-features-bathrooms" class="{{ page.classes.tooltips.bubble-wrapper }}">
            {% include info-tooltip.svg %}
          </span>
        </span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" min="0" step="1"
               type="number" name="features-bathrooms" id="features-bathrooms" value="" placeholder="Número de baños" required>
        <small id="features-bathrooms-error" class="{{ page.classes.small }}" style="position: relative;">Introduce un número</small>
      </div>

      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.tooltips.wrapper }} {{ page.classes.input.label }}">
          Aseos
          {% include tooltip.html id="features-toilets"
             display="dib" color="white" bg-color="bg-blue" font-weight="fw5" triangle="triangle triangle-blue" width="350px"
             text="Habitación que dispone de lavabo y sanitario" %}
          <span id="anchor-features-toilets" class="{{ page.classes.tooltips.bubble-wrapper }}">
            {% include info-tooltip.svg %}
          </span>
        </span>
      </div>

      <div class="fl-ns w-100 w-third-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" min="0" step="1"
               type="number" name="features-toilets" id="features-toilets" value="" placeholder="Número de aseos" required>
        <small id="features-toilets-error" class="{{ page.classes.small }}" style="position: relative;">Introduce un número</small>
      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">¿Dispone de parking?</span>
      </div>

      <div class="cf fl-ns w-100 w-two-thirds-ns">

        <div class="fl w-50 w-25-ns mb20 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-parking" id="features-parking-true" value="true" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-parking-true">Sí</label>
        </div>

        <div class="fl w-50 w-25-ns mb20 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-parking" id="features-parking-false" value="false" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-parking-false">No</label>
        </div>

        <div class="fl w-100 w-50-ns mb20 mb30-ns ph20-ns">
          <input class="{{ page.classes.input.input }} o-50" min="0" step="1" disabled data-placeholder="Número de plazas"
                 type="number" name="features-parkingPlaces" id="features-parkingPlaces" value="" placeholder="Número de plazas">
        </div>

        <div class="{{ page.classes.group }}">
          <small id="features-parking-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 20px;">Escoge una opción</small>
        </div>

      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">¿Dispone de terraza o balcón?</span>
      </div>

      <div class="cf fl-ns w-100 w-two-thirds-ns">

        <div class="fl w-50 w-25-ns mb20 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-terrace" id="features-terrace-true" value="true" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-terrace-true">Sí</label>
        </div>

        <div class="fl w-50 w-25-ns mb20 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-terrace" id="features-terrace-false" value="false" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-terrace-false">No</label>
        </div>

        <div class="fl w-100 w-50-ns mb20 mb30-ns ph20-ns placeholder-m2">
          <input class="{{ page.classes.input.input }} o-50" min="0" step="1" disabled data-placeholder=""
                 type="number" name="features-terraceArea" id="features-terraceArea" value="" placeholder="">
        </div>

        <div class="{{ page.classes.group }}">
          <small id="features-terrace-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 20px;">Escoge una opción</small>
        </div>

      </div>


      <div class="{{ page.classes.input.wrapper }}">
        <span class="{{ page.classes.input.label }}">¿Dispone de ascensor?</span>
      </div>

      <div class="cf fl-ns w-100 w-two-thirds-ns">

        <div class="fl w-50 w-25-ns mb20 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-elevator" id="features-elevator-true" value="true" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-elevator-true">Sí</label>
        </div>

        <div class="fl w-50 w-25-ns mb20 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="features-elevator" id="features-elevator-false" value="false" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="features-elevator-false">No</label>
        </div>

        <div class="{{ page.classes.group }}">
          <small id="features-elevator-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 20px;">Escoge una opción</small>
        </div>

      </div>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">5. ¿Cuando compraste la propiedad? </legend>

      <div class="fl-ns w-100 w-third-ns mb15 mb40-ns ph20-ns">
        <span class="{{ page.classes.input.label }}">Fecha de compra</span>
      </div>

      <div class="relative fl-ns w-100 w-third-ns mb20 mb40-ns ph20-ns">
        <input class="{{ page.classes.input.input }}" data-placeholder="Selecciona una fecha"
               type="date" name="buyDate" id="buyDate" placeholder="YYYY-MM-DD" required
               pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
        <div class="{{ page.classes.group }}">
          <small id="buyDate-error" class="{{ page.classes.small }}" style="position: relative;">Escoge una opción</small>
        </div>
      </div>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">6. ¿En qué estado se encuentra la propiedad?</legend>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="actualStatus" id="actualStatus-1" value="1" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="actualStatus-1">Buen estado</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="actualStatus" id="actualStatus-2" value="2" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="actualStatus-2">Reforma ligera</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="actualStatus" id="actualStatus-3" value="3" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="actualStatus-3">Reforma integral</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="actualStatus" id="actualStatus-4" value="4" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="actualStatus-4">Obra nueva</label>
      </div>

      <small id="actualStatus-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 10px;">Escoge una opción</small>

    </fieldset>


    <fieldset class="{{ page.classes.fieldset }}">

      <!-- legend class="mh20-ns mb20 mb30-ns fw5" -->
      <legend class="{{ page.classes.legend }}">7. ¿Estás pensando en cambiar de vivienda?</legend>

      <div class="cf fl-ns w-100 w-two-thirds-ns">

        <div class="fl w-50 w-25-ns mb20 mb30-ns pr10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="changing" id="changing-true" value="true" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="changing-true">Sí</label>
        </div>

        <div class="fl w-50 w-25-ns mb20 mb30-ns pl10 ph20-ns">
          <input class="{{ page.classes.input-radio.input }}" type="radio" name="changing" id="changing-false" value="false" required>
          <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="changing-false">No</label>
        </div>

        <small id="changing-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 10px;">Escoge una opción</small>

      </div>

    </fieldset>


    <fieldset class="{{ page.classes.fieldset }}">

      <!-- legend class="mh20-ns mb20 mb30-ns fw5" -->
      <legend class="{{ page.classes.legend }}">8. ¿Cuando te gustaría vender tu propiedad?</legend>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="sellTime" id="sellTime-1" value="1" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="sellTime-1">Lo antes posible</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="sellTime" id="sellTime-2" value="2" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="sellTime-2">En 3 meses</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="sellTime" id="sellTime-3" value="3" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="sellTime-3">De 3 a 6 meses</label>
      </div>

      <div class="{{ page.classes.input-radio.wrapper }}">
        <input class="{{ page.classes.input-radio.input }}" type="radio" name="sellTime" id="sellTime-4" value="4" required>
        <label class="{{ page.classes.input.input }} {{ page.classes.input-radio.label }}" for="sellTime-4">Sin prisa</label>
      </div>

      <small id="sellTime-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 10px;">Escoge una opción</small>

    </fieldset>



    <fieldset class="{{ page.classes.fieldset }}">

      <legend class="{{ page.classes.legend }}">Ya casi has terminado, ¡Un último paso!</legend>

      <div class="{{ page.classes.input.wrapper }} w-two-thirds-ns">
        <span class="{{ page.classes.input.label }} f18-ns lh-175" style="padding: 0;">¡Déjanos tu correo y en 24h recibirás un email con una estimación del valor de tu vivienda!</span>
      </div>

      <div class="fl-ns w-100 w-two-thirds-ns mb20 mb30-ns ph20-ns">
        <input class="{{ page.classes.input.input }}"
               type="email" name="email" id="email" value="" placeholder="" required
               title="Introduce tu dirección de correo electrónico"
               pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$">
      </div>

      <small id="email-error" class="{{ page.classes.small }} mh20-ns" style="position: relative; bottom: 10px;">Introduce tu dirección de correo electrónico</small>

    </fieldset>



    <fieldset class="cf ma0 mb20 pa0 ph20-ns bn">

      <hr class="mt5 mt0-ns mh20-ns mb30 mb60-ns bn bb b--black-125">

      <div id="form-buttons" class="cf fr-ns w-100 w-third-ns mb20">

        <div class="fl w-50 pr10 ph20-ns">
          <input class="{{ page.classes.buttons.button }} {{ page.classes.buttons.cancel }}"
                 type="button" name="cancel" id="cancel" value="Cancelar" placeholder="Cancelar">
        </div>

        <div class="fl w-50 pl10 ph20-ns">
          <input class="{{ page.classes.buttons.button }} {{ page.classes.buttons.submit }}"
                 type="submit" name="submit" id="submit" value="Continuar" placeholder="Continuar">
        </div>

      </div>

      <div id="form-thanks-message" class="cf fr-ns w-100 w-third-ns mb20 dn">
        <p class="mv0 pv15 ph20-ns blue graphik f16 lh-200 lh-100-ns fw5">¡Gracias! Tu valoración está en marcha.</p>
      </div>

      <div class="fl-ns w-100 w-two-thirds-ns mb20">
        <p class="mv0 pv15 ph20-ns graphik f16 lh-200 lh-100-ns o-40">Si tienes cualquier pregunta, no dudes en llamarnos a <a class="link dib inherit fw5" href="tel:0034-912-582-932">+34 91 258 29 32</a>.</p>
      </div>

    </fieldset>

  </form>


  <footer id="form-progress" class="z-1 bottom-0 pa15 white bg-black-85 f14 tc">

    <p class="dib dif-ns mv0">

      <span class="dn dib-ns mr10-ns">Preguntas respondidas</span>

      <span class="order-1-ns fw5">
        <span id="form-current-fields">0</span> / <span id="form-total-fields">9</span>
      </span>

      <span class="dib dn-ns ml5">respondidas</span>

    </p>

    <progress class="dn dib-ns ml36 br2" value="0" max="9">0%</progress>

  </footer>

</section>
