<aside id="aside" class="measure-70-ns mha-ns mb150 mb180-ns pt75 ph36 pb15 pb70-ns tc js-scroll">

  <header class="measure-40-ns mha mb30 mb60-ns blue">
    <h1 class="mv0 f20 f32-ns fw5">¡Solicita una valoración ahora!</h1>
  </header>

  <form class="cf measure-40-ns mha pa10 bg-white ba br2" action="form.html" methodd="post"
        style="box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); border: solid 1px #f0f0f0;">
    <input class="fl input-reset w-65 pa15 f16 bn" minlength="5" maxlength="5" pattern="[0-9]{5}"
           type="text" name="address-zipCode" id="address-zipCode" value="" placeholder="Código postal" required>
    <input class="fl input-reset w-35 pv15 ph20 white bg-blue f16 fw5 bn br2"
           type="submit" id="submit" value="Empezar" placeholder="Empezar">
  </form>

</aside>
