<aside id="aside" class="measure-70-ns mha-ns mb150 mb160-ns pt75 ph36 pb15 pb70-ns tc js-scroll">

  <header class="measure-40-ns mha mb30 mb60-ns blue">
    <h1 class="mv0 f20 f32-ns fw5">¡Solicita una valoración ahora!</h1>
  </header>

  <form class="cf df measure-40-ns mha pa10 bg-white ba br2" action="/form"
        style="box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); border: solid 1px #f0f0f0;">
    <input class="fl input-reset flex-grow-0 w-100 pa15 graphik f16 bn" minlength="5" maxlength="5" pattern="[0-9]{5}"
           type="text" name="address-zipCode" id="aside-address-zipCode" value="" placeholder="Código postal" required>
    <button class="fl input-reset flex-shrink-0 w-auto pv15 ph20 white bg-blue f16 f18-ns fw5 bn br2"
            type="submit" id="submit">
      <span class="db dn-ns">Empezar</span>
      <span class="dn db-ns">Obtén una valoración inicial</span>
    </button>
  </form>

</aside>
