<footer class="pb100 white bg-black-85 tc">

  <img class="mv60" src="" alt="">

  <ul class="list pl0 bb b--white-10">
    <li class="bt b--white-10"><a class="link db pv30 inherit" href="#">Sobre Prontopiso</a></li>
    <li class="bt b--white-10"><a class="link db pv30 inherit" href="#">Cómo funciona</a></li>
    <li class="bt b--white-10"><a class="link db pv30 inherit" href="#">Precio</a></li>
    <li class="bt b--white-10"><a class="link db pv30 inherit" href="#">Preguntas frecuentes</a></li>
    <li class="bt b--white-10">
      <a class="link db pv30 inherit" href="tel:0034-902-734-050">
        <span class="db">Contacto</span>
        <span class="db o-50">+34 902 734 050</a>
      </a>
    </li>
    <li class="bt b--white-10"><a class="link db pv30 inherit" href="#">Términos y condiciones</a></li>
    <li class="bt b--white-10">
      <ul class="cf list pl0 o-50">
        <li class="fl w-50 br b--white-10"><a class="link db pv30 inherit" href="#">Facebook</a></li>
        <li class="fl w-50"><a class="link db pv30 inherit" href="#">Twitter</a></li>
      </ul>
    </li>
  </ul>

  <img class="mv60" src="" alt="">

  <small class="f12 lh-185">
    <p class="mv0">Legal conditions &copy; 2017 Prontopiso&trade;.</p>
    <p class="mv0">All Rights Reserved</p>
  </small>

</footer>

<script src="{{ "/assets/vendor/swiper.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl }}" charset="utf-8"></script>
