<footer class="cf pt45-ns ph20-ns pb100 pb90-ns white bg-black-85 tc tl-ns">

  <div class="fl-ns w-25-ns">

    <a class="db mv60 mv15-ns ph20-ns" href="#">
      {% include logo.svg fill="#FFFFFF" %}
    </a>

  </div>


  <div class="cf fl-ns w-75-ns df-ns">

    <dl class="fl-ns w-third-ns mv0 ph20-ns">
      <dt class="fw5 bt bn-ns b--white-10">
        <a class="link db pv30 pv15-ns inherit" href="/about">Sobre Prontopiso</a></dt>
      <dt class="fw5 bt bn-ns b--white-10">
        <a class="link db pv30 pv15-ns inherit" href="#">Cómo funciona</a></dt>
      <dt class="fw5 bt bn-ns b--white-10">
        <a class="link db pv30 pv15-ns inherit" href="#">Precio</a></dt>
      <dt class="fw5 bt bn-ns b--white-10">
        <a class="link db pv30 pv15-ns inherit" href="/faq">Preguntas frecuentes</a></dt>
    </dl>

    <dl class="fl-ns w-third-ns df-ns flex-column-ns mv0 ph20-ns">
      <dt class="fw5 bt bn-ns b--white-10">
        <span class="db pt30 pv15-ns">Contacto</span></dt>
      <dd class="ml0 bn bn-ns b--white-10 o-50">
        <a class="link db pt15 pb30 pv15-ns inherit" href="tel:0034-628-778-718">+34 628 778 718</a></dd>
      <dt class="mta fw5 bt bn-ns b--white-10">
        <a class="link db pv30 pv15-ns inherit" href="/terms">Términos y condiciones</a></dt>
    </dl>

    <dl class="cf fl-ns w-third-ns mv0 ph20-ns bb bn-ns b--white-10">
      <dt class="dn db-ns fw5 bt bn-ns b--white-10">
        <span class="db pv30 pv15-ns">RRSS</span></dt>
      <dd class="fl fn-ns w-50 w-100-ns ml0 bt bn-ns b--white-10 o-50">
        <a class="link db pv30 pv15-ns inherit" href="#">Facebook</a></dd>
      <dd class="fl fn-ns w-50 w-100-ns ml0 bt bl bn-ns b--white-10 o-50">
        <a class="link db pv30 pv15-ns inherit" href="#">Twitter</a></dd>
    </dl>

  </div>

  <a class="db dn-ns mv60 mv15-ns ph20-ns" href="#">
    {% include logo.svg fill="#FFFFFF" %}
  </a>

  <p class="dn-ns mv0">
    <small class="db f12 lh-185">Legal conditions &copy; 2017 Prontopiso&trade;.</small>
    <small class="db f12 lh-185">All Rights Reserved</small>
  </p>

</footer>

<script src="{{ "/assets/vendor/scrollreveal.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/assets/vendor/stickybits.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/assets/vendor/smooth-scroll.polyfills.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/assets/vendor/swiper.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl }}" charset="utf-8"></script>

{% for script in page.scripts %}
<script src="{{ script }}" async defer></script>
{% endfor %}
