<header id="main-header" class="z-3 fixed top-0 top-25-ns right-0 left-0 df justify-between pa18 pv20-ns ph40-ns">

  <h1 class="z-1 relative dib dif flex-column justify-center mv0 lh-100 fw4">
    <a class="db link inherit" href="/">
      <span class="clip">{{ site.title }}</span>
      {% include logo.svg class="h12 h19-ns" fill="#282828" %}
    </a>
  </h1>

  <a id="toggle-nav" class="z-1 df flex-column justify-center dn-ns" href="#toggle-nav">

    <svg id="open-nav" class="" xmlns="http://www.w3.org/2000/svg" width="23px" height="25px" viewBox="0 0 23 14">
      <path fill="#1F8BEB" fill-rule="evenodd" d="M0 0h23v2H0zM0 6h23v2H0zM0 12h23v2H0z"/>
    </svg>

    <svg id="close-nav" class="dn" xmlns="http://www.w3.org/2000/svg" width="23px" height="25px" viewBox="0 0 23 25">
      <path fill="#FFF" fill-rule="evenodd" d="M0 0h23v25H0z"/>
      <path fill="#1F8BEB" fill-rule="nonzero" d="M19 7.41L17.59 6 12 11.59 6.41 6 5 7.41 10.59 13 5 18.59 6.41 20 12 14.41 17.59 20 19 18.59 13.41 13"/>
    </svg>

  </a>

  <nav id="main-nav" class="z-0 fixed relative-ns absolute--fill dn dib-ns flex-column justify-center pt60 pb10 pv0-ns bg-white bg-transparent-ns tc">
    <ul class="list dib dif flex-column flex-row-ns h-100 mv0 pl0" style="max-height: 400px;">
      <li class="dn-ns mb15 ml50-ns mv0-ns f20 f16-ns">
        <a class="link db inherit fw5" href="/">Home</a>
      </li>
      <li class="dib-ns dif-ns flex-column-ns justify-center-ns mb15 ml50-ns mv0-ns f20 f16-ns">
        <a class="link db inherit" href="/#how-it-works" data-scroll>Cómo funciona</a>
      </li>
      <li class="dib-ns dif-ns flex-column-ns justify-center-ns mb15 ml50-ns mv0-ns f20 f16-ns">
        <a class="link db inherit" href="/pricing">Precio</a>
      </li>
      <li class="dib-ns dif-ns flex-column-ns justify-center-ns mb15 ml50-ns mv0-ns f20 f16-ns">
        <a class="link db inherit" href="/faq">
          <span class="dn di-ns">FAQ</span>
          <span class="di dn-ns">Preguntas frecuentes</span>
        </a>
      </li>
      <li id="nav-item-tasacion" class="dib dn-ns mta mb15 ml50-ns mv0-ns">
        <a class="link dib inherit pv10 pv8-ns ph36 ph12-ns white bg-blue fw5 fw4-ns ba bn-ns b--blue br2" href="/form">
          <span class="">Obtén una valoración inicial</span>
        </a>
      </li>
      <li id="nav-item-telefono" class="dib mt5 mb15 ml50-ns mv0-ns">
        <a class="link dib inherit pv10 ph36 pa0-ns blue fw5 ba bn-ns b--blue br2" href="tel:0034-912-582-932">
          <span class="di dn-ns fw4">Llámanos</span>
          <span class="dn di-ns">+34</span>
          <span class=""> 91 258 29 32</span>
        </a>
      </li>
    </ul>
  </nav>

</header>
