/*

  STYLES
  https://github.com/hacknug/tachyons-uber/

  Add custom styles here.

*/

// Variables
@import '_variables';


/* Placeholder */
.ph-white::-webkit-input-placeholder { color: rgba(255, 255, 255, .4); }
.ph-white::-moz-placeholder { color: rgba(255, 255, 255, .4); }
.ph-white:-ms-input-placeholder { color: rgba(255, 255, 255, .4); }
.ph-white:-moz-placeholder { color: rgba(255, 255, 255, .4); }


// .class {}
//
// @each $suffix, $value in $breakpoints {
//   @media #{$value} {
//     .class-#{$suffix} {}
//   }
// }
