---
layout: default

classes:
  article: 'cf mb120 ph36'
  header: 'mb40'
  h1: 'mv0 f32 lh-125 fw5 blue'
  h2: 'mt40 mb20 blue f16 f18-ns lh-175 fw5'
  p: 'mt0 mb20 f14 f16-ns lh-200 o-80'

terms:
  title: 'Condiciones de Uso'
  intro:
    - 'En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), PRONTOPISO, S.L. informa que es titular del sitio web https://prontopiso.com. De acuerdo con la exigencia del artículo 10 de la citada Ley, PRONTOPISO, S.L. informa de los siguientes datos:'
    - 'El titular de este sitio web es PRONTOPISO, S.L., con CIF B67037705 y domicilio social en Edificio Palau de Mar, Plaça Pau Vila 1, 1ª planta, Sector AD, 08039 Barcelona, inscrita en el Registro Mercantil de Barcelona, en el Tomo 46003, Folio 64, Hoja número B-506549, inscripción 1a. La dirección de correo electrónico de contacto con la empresa es: info@prontopiso.com.'

  items:
    - title: 'Objeto'
      condition:
        - 'El presente documento tiene por objeto establecer las Condiciones Generales de Uso de la Web prontopiso.com y los servicios que en ella se ofrecen, titularidad de PRONTOPISO, S.L.'
        - 'PRONTOPISO, S.L. ("ProntoPiso") se reserva el derecho a modificar las presentes Condiciones Generales de Uso con el objeto de adecuarlas a la legislación vigente aplicable en cada momento, las novedades jurisprudenciales y las prácticas habituales de mercado. La utilización por parte del Usuario de cualquiera de los Servicios de ProntoPiso supone e implica su adhesión y aceptación expresa a todas las Condiciones Generales de Uso en la versión publicada en la presente website en el momento en que el usuario acceda a prontopiso.com. Si, en cualquier momento, el Usuario no desea aceptar las condiciones generales de uso, debe dejar de usar el portal. Cualquier condición o cláusula que proponga o represente una adición o contradiga estas condiciones generales de uso no será tenida en cuenta por www.prontopiso.com y no tendrá ningún efecto o vigencia entre las partes.'

    - title: 'Usuario y régimen de responsabilidades'
      condition:
        - 'La navegación, acceso y uso por el sitio web de ProntoPiso confiere la condición de usuario, por la que se aceptan, desde la navegación por el sitio web de ProntoPiso todas las condiciones de uso aquí establecidas sin perjuicio de la aplicación de la correspondiente normativa de obligado cumplimiento legal según el caso.'
        - 'El sitio web de ProntoPiso proporciona gran diversidad de información, servicios y datos. El usuario asume su responsabilidad en el uso correcto del sitio web. Esta responsabilidad se extenderá a:'
        - 'La veracidad y licitud de las informaciones aportadas por el usuario en el formulario extendido por ProntoPiso.'
        - 'El uso de la información, servicios y datos ofrecidos por ProntoPiso contrariamente a lo dispuesto por las presentes condiciones, la Ley, la moral, las buenas costumbres o el orden público, o que de cualquier otro modo puedan suponer lesión de los derechos de terceros o del mismo funcionamiento del sitio web.'

    - title: 'Política de enlaces y exenciones de responsabilidad'
      condition:
        - 'ProntoPiso no se hace responsable del contenido de los sitios web a los que el usuario pueda acceder a través de los enlaces establecidos en su sitio web y declara que en ningún caso procederá a examinar o ejercitar ningún tipo de control sobre el contenido de otros sitios de la red. Asimismo, tampoco garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.'
        - 'ProntoPiso declara haber adoptado todas las medidas necesarias para evitar cualquier daño a los usuarios de su sitio web, que pudieran derivarse de la navegación por su sitio web. En consecuencia, ProntoPiso no se hace responsable, en ningún caso, de los eventuales daños que por la navegación por Internet pudiera sufrir el usuario.'

    - title: 'Modificaciones'
      condition:
        - 'ProntoPiso se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo, en el contenido de su sitio web. Dichas modificaciones podrán realizarse a través de su sitio web por cualquier forma admisible en derecho y serán de obligado cumplimiento durante el tiempo en que se encuentren publicadas en el web y hasta que no sean modificadas válidamente por otras posteriores.'

    - title: 'Protección de datos'
      condition:
        - 'De conformidad con lo que establece la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal (LOPD), ProntoPiso informa a los usuarios de su sitio web que los datos personales recabados por la empresa, mediante el formulario sito en su página, serán introducidos en un fichero automatizado bajo la responsabilidad de ProntoPiso, con la finalidad de poder facilitar, agilizar y cumplir los compromisos establecidos entre ambas partes.'
        - 'Asimismo, ProntoPiso informa de la posibilidad de ejercer los derechos de acceso, rectificación, cancelación y oposición mediante un escrito a la dirección: Edificio Palau de Mar, Plaça Pau Vila 1, 1ª planta, Sector AD, 08039 Barcelona.'
        - 'Mientras el usuario no comunique lo contrario a ProntoPiso, ésta entenderá que sus datos no han sido modificados, que el usuario se compromete a notificar a ProntoPiso cualquier variación y que ProntoPiso tiene el consentimiento para utilizarlos a fin de poder fidelizar la relación entre las partes.'

    - title: 'Propiedad intelectual e industrial'
      condition:
        - 'ProntoPiso por sí misma o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de ProntoPiso. Serán, por consiguiente, obras protegidas como propiedad intelectual por el ordenamiento jurídico español, siéndoles aplicables tanto la normativa española y comunitaria en este campo, como los tratados internacionales relativos a la materia y suscritos por España.'
        - 'Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de ProntoPiso.'
        - 'El usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de ProntoPiso. Podrá visualizar los elementos del portal e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado. El usuario deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en las páginas de ProntoPiso.'
        - 'Se prohíbe expresamente: reproducir, copiar, editar, transmitir, cargar o incorporar en cualquier otro material, cualquiera de los Servicios y el Sitio Web incluyendo, sin limitación, cualquier información, artículos, fotografías, imágenes o presentaciones a su disposición a través uso de los Servicios y el Sitio Web ; y quitar, modificar, alterar o utilizar cualesquiera marcas registradas o no registradas / logos / diseño propiedad de ProntoPiso y / o sus licenciantes, y hacer cualquier cosa que se pueda ver como aprovecharse injustamente de la reputación y la buena voluntad de ProntoPiso o podría considerarse una infracción de cualquiera de los derechos en los derechos de propiedad intelectual propiedad de y / o con licencia a ProntoPiso.'

    - title: 'Acciones legales, legislación aplicable y jurisdicción'
      condition:
        - 'ProntoPiso se reserva, asimismo, la facultad de presentar las acciones civiles o penales que considere oportunas por la utilización indebida de su sitio web y contenidos, o por el incumplimiento de las presentes condiciones. La relación entre el usuario y ProntoPiso se regirá e interpretará por la normativa vigente y de aplicación en el territorio español. De surgir cualquier controversia las partes podrán someter sus conflictos a arbitraje o acudir a la jurisdicción ordinaria cumpliendo con las normas sobre jurisdicción y competencia al respecto. ProntoPiso tiene su domicilio en Barcelona, España.'

privacy:
  title: 'Política de privacidad'
  intro:
    - 'De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo, mediante esta política de privacidad, ProntoPiso desea informarle acerca de la política de protección de datos de carácter personal de su sitio web prontopiso.com ("sitio web"), para que determine libre y voluntariamente si desea facilitar a ProntoPiso los datos personales que le podamos requerir o que podamos obtener de usted con ocasión de su acceso y uso del sitio web.'

  items:
    - title: 'Política de protección de datos de carácter personal'
      condition:
        - 'Con el fin de facilitar un desarrollo rápido y eficaz de la relación entre y los Usuarios, ProntoPiso garantiza mediante este aviso, la privacidad de los servicios de acuerdo con las exigencias legales e informa acerca de su política de protección de datos de carácter personal para que los Usuarios determinen libre y voluntariamente si desean facilitar a ProntoPiso sus datos personales a través de cualquier vía, en su caso formulario electrónico, en su website.'
        - 'Los Usuarios consienten el tratamiento de dichos datos personales por ProntoPiso en los términos de la presente Política de Protección de Datos de Carácter Personal.'
        - 'La aportación de datos personales, propios o de terceros, a través del formulario dispuesto al efecto en el website sólo podrá realizarse por y respecto de mayores de edad.'

    - title: 'Confidencialidad en el tratamiento automatizado de los datos de carácter personal de los usuarios'
      condition:
        - 'ProntoPiso garantiza la confidencialidad de los datos de carácter personal facilitados dentro de los criterios legalmente aplicables (principalmente Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo.).'
        - 'ProntoPiso ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados. A pesar de ello, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.'
        - 'Los datos personales recogidos serán objeto de tratamiento automatizado e incorporados a los correspondientes ficheros automatizados por ProntoPiso.'
        - 'ProntoPiso proporcionará a los Usuarios los recursos técnicos adecuados para que, con carácter previo a la entrega de los datos personales, puedan acceder a este aviso sobre la Política de Protección de Datos de Carácter Personal o a cualquier otra información relevante, y puedan prestar su consentimiento a fin de que ProntoPiso proceda al tratamiento automatizado de los datos personales de los Usuarios.'
        - 'ProntoPiso se reserva el derecho a modificar la presente política para adaptarla a novedades o exigencias legislativas y jurisprudenciales así como a prácticas de la industria, teniendo en todo momento en cuenta los legítimos intereses del consumidor o usuario.'

    - title: 'Finalidad de la recogida y tratamiento automatizado de los datos de carácter personal'
      condition:
        - 'La recogida y tratamiento automatizado de los datos personales, como consecuencia de la navegación por las páginas del Portal, de la consulta, solicitud o suscripción de cualquier servicio/s, promoción/es, encuestas o concurso/s de los ofrecidos por ProntoPiso, tiene como finalidad además de proporcionar al Usuario una experiencia personalizada en la navegación del Portal, el mantenimiento de la relación contractual establecida entre ambos, así como la gestión, administración, prestación, ampliación y mejora de los servicios que el Usuario decida utilizar.'
        - 'En el caso de que lo haya autorizado, otra finalidad añadida será el envío, por medios tradicionales y electrónicos (y equivalentes) de información comercial y publicidad acerca de la empresa (sus actividades, servicios, ofertas, promociones especiales) y de servicios ofrecidos por ProntoPiso.'
        - 'El Usuario no queda obligado a recibir la mencionada publicidad ni los formularios de encuestas, mediante comunicación a la dirección de correo electrónico que se indique, o bien por correo postal dirigido a PRONTOPISO, S.L., Plaça Pau Vila 1, 1ª planta, 08039 Barcelona, acompañando en este caso copia del D.N.I. o cualquier otro medio válido en derecho que permita acreditar su identidad.'
        - 'ProntoPiso actúa como mero difusor en relación a los “banners” o pancartas publicitarias u otros medios publicitarios que aparecen en el website, resultando ajenas por tanto al régimen de los servicios prestados por ProntoPiso.'

    - title: 'Derechos de los usuarios en relación a sus datos personales'
      condition:
        - 'Los Usuarios tienen reconocidos, y podrán ejercitar los derechos de acceso, cancelación, rectificación y oposición al tratamiento, uso y cesión de sus datos mediante comunicación dirigida a PRONTOPISO, S.L., Plaça Pau Vila 1, 1ª planta, 08039 Barcelona, acompañando en este caso copia del D.N.I. o cualquier otro medio válido en derecho que permita acreditar su identidad.'

    - title: 'Cesión de datos personales de los usuarios a terceros'
      condition:
        - 'ProntoPiso no cederá los datos personales de los Usuarios que se recogen a través del Portal a terceros sin el consentimiento expreso de los Usuarios.'
        - 'ProntoPiso informará expresamente al Usuario sobre la cesión de sus datos de carácter personal a terceros, indicando la identidad de los cesionarios y la finalidad de la cesión de los datos de carácter personal.'

---

<article class="measure-68-ns mha-ns pt200 pb30 pb200-ns">

  <section id="terms" class="{{ page.classes.article }}">

    <header class="{{ page.classes.header }}">
      <h1 class="{{ page.classes.h1 }}">{{ page.terms.title }}</h1>
    </header>

  {% for paragraph in page.terms.intro %}
    <p class="{{ page.classes.p }}">{{ paragraph }}</p>
  {% endfor %}
  {% for item in page.terms.items %}
    <h2 class="{{ page.classes.h2 }}">{{ item.title }}</h2>
    {% for paragraph in item.condition %}
    <p class="{{ page.classes.p }}">{{ paragraph }}</p>
    {% endfor %}
  {% endfor %}

  </section>


  <section id="policy" class="{{ page.classes.article }}">

    <header class="{{ page.classes.header }}">
      <h1 class="{{ page.classes.h1 }}">{{ page.privacy.title }}</h1>
    </header>

  {% for paragraph in page.privacy.intro %}
    <p class="{{ page.classes.p }}">{{ paragraph }}</p>
  {% endfor %}
  {% for item in page.privacy.items %}
    <h2 class="{{ page.classes.h2 }}">{{ item.title }}</h2>
    {% for paragraph in item.condition %}
    <p class="{{ page.classes.p }}">{{ paragraph }}</p>
    {% endfor %}
  {% endfor %}

  </section>

</article>
